!!!
%html
  %head
    %title Web
    = favicon
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = javascript "#{bundle_path}/app.bundle"
    = stylesheet 'http://cdn.quilljs.com/1.2.6/quill.snow.css'
    = stylesheet '../font-awesome-4.7.0/css/font-awesome.min.css'


  %body
    %div#nav-root{'home-path': routes.home_path, 'new-post-path': routes.new_post_path, 'drafts-path': routes.drafts_path}
    = javascript "#{bundle_path}/navbar.bundle"
    %div{'style': 'padding-top: 70px;', 'role': 'main'}
      = yield
