!!!
%html
  %head
    %title Web
    = favicon
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = stylesheet 'bootstrap-4.0.0-alpha.6/dist/css/bootstrap.min'

  %body
    = yield

  = javascript '../jquery-3.2.1.min.js', '../tether.min.js'
  = javascript '../bootstrap-4.0.0-alpha.6/dist/js/bootstrap.min'
  = javascript "#{ENV['ASSETS_HOST']}/home.bundle"
